/*@font-face {
  font-family: "raleway";
  src: url("polices/Raleway-Regular.woff") format("woff"),
    url("polices/Raleway-Regular.ttf") format("truetype"),
    url("polices/Raleway-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}*/

body {
  font-family: "Raleway", Arial, serif;
  font-size: 0.9em;
  max-width: 1210px;
  margin: auto;
}

h1 {
  font-size: 1.3em;
  font-style: bold;
  margin-bottom: 0px;
}

h2 {
  font-size: 1.2em;
  padding-left: 15px;
}

/*haut de page*/

header {
  /*display: flex;
  justify-content: space-between;*/
  margin-top: 0px;
  margin-bottom: 0px;
}

header p {
  margin-top: 4px;
  font-size: 0.9em;
}

#logomenu {
  display: flex;
  justify-content: space-between;
}
nav {
  padding-top: 8px;
  margin-right: 50px;
}

#logo {
  width: 80px;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  display: flex;
}

header li {
  margin-right: 8px;
  margin-left: 40px;
  font-size: 0.9em;
  font-weight: 600;
}

nav a {
  text-decoration: none;
  color: black;
  padding-top: 20px;
}

nav a:hover {
  color: #0065fc;
  border-top: 3px #0065fc solid;
}

#sinscrire {
  color: #0065fc;
  font-weight: 900;
}
#inscriptionmob {
  display: none;
}

/*partie centrale main, section filtres */

main {
  width: 100%;
  margin: auto;
}

#filtres p {
  font-size: 0.9em;
  font-weight: bold;
  line-height: 2em;
}
input {
  border: 1px #f2f2f2 solid;
  border-radius: 10px 0px 0px 10px;
  font-family: "Raleway";
  font-weight: bold;
  padding: 8px;
  padding-left: 45px;
  display: inline;
  margin-left: 0px;
}

#boutontexte {
  width: 220px;
}

input:hover {
  background-color: #f2f2f2;
}

.fa-map-marker-alt {
  border: 2px #f2f2f2 solid;
  border-radius: 10px 0px 0px 10px;
  background-color: #f2f2f2;
  padding: 8px;
  margin-right: 0px;
  position: absolute;
  left: 0px;
}

#boutonbleu {
  background-color: #0065fc;
  color: white;
  font-family: "Raleway";
  font-weight: bold;
  border-radius: 0px 10px 10px 0px;
  border: 1px #0065fc solid;
  padding: 8px;
  position: absolute;
  left: 260px;
}
.fa-search {
  display: none;
}
#boutonrecherche {
  position: relative;
  margin-bottom: 25px;
}

select {
  border: 2px #f2f2f2 solid;
  border-radius: 20px;
  padding: 12px 10px 12px 45px;
  font-family: "Raleway";
  font-size: 1em;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:hover {
  background-color: #f2f2f2;
}

.fa-dog,
.fa-money-bill-wave,
.fa-heart,
.fa-child {
  background-color: #deebff;
  color: #0065fc;
  border-radius: 25px;
  font-size: 1.1em;
  padding: 14px;
}

.input-icone {
  position: relative;
  margin: 30px 15px 15px 15px;
}

.input-icone i {
  position: absolute;
  left: 0px;
  top: -13px;
}

.fa-info {
  display: inline-block;
  color: #0065fc;
  font-size: 0.7em;
  /*width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 2px #f2f2f2 solid;
  text-align: center;
  line-height: 17px;-------ne marche pas si cercle directement autour icone*/
}

/*zones résultats hotels*/

#cercle {
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 2px #f2f2f2 solid;
  text-align: center;
  line-height: 14px;
  margin: 10px;
}

h4 {
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 110%;
  font-family: "Raleway";
}

#hebergements {
  display: flex;
  height: 540px;
  margin: 15px;
}

#nombretrouve {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.fa-star {
  font-size: 0.8em;
  color: #f2f2f2;
}

.bleu {
  color: #0065fc;
}

#listehotels {
  /*conteneur de h2 + div id=resultatshotels*/
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 15px;
  margin: 5px;
  flex: 75%;
}

#listehotels a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 0.9em;
}

.hotel {
  background-color: white;
  border-radius: 15px;
  box-shadow: 3px 3px 8px rgb(233, 231, 231);
  padding: 4px;
  margin: 10px;
  width: 230px;
  height: 170px;
  align-items: center;
}

.hotel p {
  font-size: 0.7em;
  line-height: 80%;
}

#resultatshotels {
  /*conteneur des blocs class=hotel, resultats 1 par hotel, les mettre sur plusieurs lignes, et limiter à 3 lignes max avec retour scroll possible "afficher plus"*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  overflow: auto;
  max-height: 900px;
}

#resultatshotels a {
  text-decoration: none;
  font-size: initial;
  font-weight: initial;
}

#resultatshotels a:hover {
  color: #0065fc;
  border-radius: 15px;
  border: 1px #0065fc dotted;
}

#aubergecanebiere {
  height: 105px;
  width: 228px;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 3px;
  background-image: url("images/hebergements/aubergecanebiere.jpg");
  background-position: center;
  background-size: cover;
}

#hotelport {
  height: 105px;
  width: 228px;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 3px;
  background-image: url("images/hebergements/hotelduport.jpg");
  background-position: center;
  background-size: cover;
}
#hotelmouettes {
  height: 105px;
  width: 228px;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 3px;
  background-image: url("images/hebergements/hotelmouettes.jpg");
  background-position: center;
  background-size: cover;
}

#hotelmer {
  height: 105px;
  width: 228px;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 3px;
  background-image: url("images/hebergements/hoteldelamer.jpg");
  background-position: center;
  background-size: cover;
}

#aubergepanier {
  height: 105px;
  width: 228px;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 3px;
  background-image: url("images/hebergements/aubergepanier.jpg");
  background-position: center;
  background-size: cover;
}

#chezamina {
  height: 105px;
  width: 228px;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 3px;
  background-image: url("images/hebergements/chezamina.jpg");
  background-position: center;
  background-size: cover;
}

#populaires {
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 15px;
  margin: 5px;
  flex: 30%;
  max-height: 1000px;
  overflow: auto;
}

.fa-chart-line {
  padding-right: 25px;
}

#populaires header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.principal p,
h4 {
  padding-left: 5px;
  padding-right: 5px;
}

.populaire {
  display: flex;
  width: 270px;
  height: 110px;
  margin-top: 20px;
  margin-bottom: 25px;
}

#soleilmatin {
  border-radius: 15px 0px 0px 15px;
  width: 138px;
  height: 110px;
  margin-bottom: 0px;
  background-image: url("images/hebergements/soleildumatin.jpg");
  background-position: center;
  background-size: cover;
}

#bleuetblanc {
  border-radius: 15px 0px 0px 15px;
  width: 138px;
  height: 110px;
  margin-bottom: 0px;
  background-image: url("images/hebergements/toutbleuetblanc.jpg");
  background-position: center;
  background-size: cover;
}

#coeurdeleau {
  border-radius: 15px 0px 0px 15px;
  width: 205px;
  height: 110px;
  margin-bottom: 0px;
  background-image: url("images/hebergements/aucoeurdeleau.jpg");
  background-position: center;
  background-size: cover;
}

#resultatspopu a {
  text-decoration: none;
  font-size: initial;
  font-weight: initial;
  color: black;
}

#resultatspopu a:hover {
  color: #0065fc;
}
/*border-radius: 15px;
  border: 1px #0065fc dotted;
 voir pourquoi ça ne marche pas ! pas du tout sur edge, et pas bien sur firefox*/

.texte {
  padding-left: 8px;
  padding-top: 22px;
}

.texte p {
  line-height: 250%;
}

.texte a {
  text-decoration: none;
  font-size: initial;
  font-weight: initial;
}

/*zone activités*/

#activites {
  height: 470px;
  padding: 15px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 5px;
  max-width: 100%;
}

#resultatsactiv {
  display: flex;
  padding-left: 0px;
  padding-right: 0px;
}

.activ {
  background-color: white;
  border-radius: 15px;
  box-shadow: 3px 3px 8px rgb(233, 231, 231);
  padding: 0px;
  margin: 26px;
  width: 243px;
  height: 350px;
  align-items: center;
}

.activ h4 {
  position: absolute;
  bottom: 0px;
  border-radius: 0px 0px 15px 15px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 94%;
  background-color: white;
}

#vieuxport {
  border-radius: 15px;
  width: 243px;
  height: 350px;
  background-image: url("images/activites/vieuxport.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

#calanques {
  border-radius: 15px;
  width: 243px;
  height: 350px;
  background-image: url("images/activites/calanques.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

#pomegues {
  border-radius: 15px;
  width: 243px;
  height: 150px;
  background-image: url("images/activites/pomegues.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

#frioul {
  border-radius: 15px;
  width: 243px;
  height: 150px;
  background-image: url("images/activites/frioul.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

#notredame {
  border-radius: 15px;
  width: 243px;
  height: 150px;
  background-image: url("images/activites/notredame.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

#longchamp {
  border-radius: 15px;
  width: 243px;
  height: 150px;
  background-image: url("images/activites/longchamp.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.horiz {
  height: 150px;
}

.doublehoriz {
  display: flex;
  flex-direction: column;
}

#resultatsactiv a {
  text-decoration: none;
  font-size: initial;
  font-weight: initial;
  color: black;
  border-radius: 15px;
}

#resultatsactiv a:hover {
  color: #0065fc;
  border-radius: 15px;
  border: 2px #deebff dotted;
}

/*pied de page*/

footer {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

.blocpiedpage {
  display: flex;
  flex-direction: column;
  margin-right: 250px;
  margin-left: 15px;
}

.blocpiedpage ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 0.8em;
  text-align: left;
  padding-left: 0px;
  line-height: 1.6em;
}

h3 {
  font-size: 0.9em;
  margin-bottom: 0px;
  font-weight: 900;
}

/*-----MEDIA QUERIES-----*/
@media screen and (max-width: 600px) {
  /*html {
    font-size: 200%;
  }*/

  #logomenu {
    flex-direction: column;
  }
  #logo {
    margin-top: 0px;
    margin-left: 10px;
  }

  #sinscrire {
    display: none;
  }

  #inscriptionmob {
    display: initial;
    color: #0065fc;
    font-weight: 900;
    margin-top: 8px;
  }

  #entete {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  header nav {
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    justify-content: center;
  }

  header nav ul {
    padding: 0px;
  }

  header nav li {
    font-size: 1em;
    flex: 50%;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 2px #f2f2f2 solid;
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 10px;
  }

  nav li:active {
    border-bottom: 2px #0065fc solid;
  }
  nav li:focus {
    border-bottom: 2px #0065fc solid;
  }
  nav a:hover {
    border-top: none;
    text-decoration: none;
  }
  nav a:active {
    border-top: none;
    text-decoration: none;
    color: #0065fc;
  }
  header p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
  }

  h1 {
    margin-left: 15px;
  }
  body {
    width: auto;
    height: auto;
    margin: auto;
  }
  header {
    width: 95%;
    margin: auto;
  }

  main {
    margin: auto;
    max-width: 100%;
  }

  #boutonbleu {
    display: none;
  }
  #boutonrecherche {
    margin-left: 10px;
  }

  #boutontexte {
    width: 180px;
  }

  .fa-search {
    display: initial;
    background-color: #0065fc;
    color: white;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    left: 200px;
  }

  #filtres p {
    margin-left: 10px;
  }

  .input-icone {
    margin-bottom: 0px;
    margin-top: 10px;
  }

  .fa-heart,
  .fa-dog {
    margin-top: 14px;
  }

  .titrefiltre {
    display: block;
    display: flex;
    flex-direction: column;
  }
  #cercle {
    display: block;
  }
  #nombretrouve {
    align-items: baseline;
    margin-right: 15px;
  }

  #hebergements {
    flex-direction: column;
    height: auto;
    max-width: 100%;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px; /*pour coller blocs aux cotés en mobile*/
  }
  #listehotels {
    order: 2;
    background-color: white;
    height: auto;
    max-height: none;
    width: 100%;
  }

  #listehotels p {
    margin-left: 15px;
  }

  #resultatshotels {
    display: flex;
    flex-direction: column;
    flex: 95%;
    align-items: center;
    flex-wrap: nowrap;
    max-height: none;
  }

  #listehotels h2 {
    flex: 5%;
  }

  #populaires {
    order: 1;
    border-radius: 0px;
    max-height: none;
    width: 97%;
    margin-left: 0px;
    margin-right: 0px;
  }

  #resultatspopu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #aubergecanebiere,
  #hotelport,
  #hotelmouettes,
  #hotelmer,
  #aubergepanier,
  #chezamina {
    height: 80px;
  }

  .principal {
    height: 135px;
  }

  .principal h4,
  p {
    line-height: 0.8em;
  }

  #activites {
    margin-left: 0px;
    width: 100%;
    height: auto;
  }
  #resultatsactiv {
    flex-direction: column;
    align-items: center;
  }

  .vertic {
    height: 150px;
  }

  #calanques {
    height: 150px;
  }

  #vieuxport {
    height: 150px;
  }

  footer {
    flex-direction: column;
    max-width: 92%;
  }

  .blocpiedpage {
    margin-right: 0px;
  }
}
