* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", Arial, serif;
  font-size: 1em;
  width: 100%;
  margin: auto;
}

h1 {
  font-size: 1.6em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  padding-left: 1vw;
  margin-top: 1.5vw;
}

/*haut de page*/

header {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 2vw;
}

header p {
  margin-top: 4px;
  font-size: 1.1em;
}

#logomenu {
  display: flex;
  justify-content: space-between;
}

nav {
  padding-top: 8px;
  margin-right: 50px;
}

#logo {
  width: 100px;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  display: flex;
}

header li {
  margin-right: 8px;
  margin-left: 40px;
  font-size: 1.1em;
  font-weight: 600;
}

nav a {
  text-decoration: none;
  color: black;
  padding-top: 20px;
}

nav a:hover {
  color: #0065fc;
  border-top: 3px #0065fc solid;
}

#sinscrire {
  color: #0065fc;
  font-weight: 900;
}
#inscriptionmob {
  display: none;
}

/*partie centrale main, section filtres */

main {
  width: 97%;
  margin: auto;
}

#filtres {
  margin-left: 10px;
}
#filtres p {
  font-size: 0.9em;
  font-weight: bold;
  line-height: 2em;
}

#titrefiltre {
  display: inline;
}

#titrefiltre h3 {
  display: inline;
  font-size: 1.1em;
}

input {
  border: 1px #f2f2f2 solid;
  border-radius: 10px 0px 0px 10px;
  font-family: "Raleway";
  font-weight: bold;
  padding: 15px 8px;
  padding-left: 5.4vw;
  display: inline;
  margin-left: 0px;
  font-size: 1em;
}

#boutontexte {
  width: 25vw;
}

input:hover {
  background-color: #f2f2f2;
}

.fa-map-marker-alt {
  /*border: 2px #f2f2f2 solid;*/
  border-radius: 10px 0px 0px 10px;
  background-color: #f2f2f2;
  padding: 17px 14px;
  margin-right: 0px;
  position: absolute;
  left: 0px;
}

#boutonbleu {
  background-color: #0065fc;
  color: white;
  font-family: "Raleway";
  font-weight: bold;
  border-radius: 0px 10px 10px 0px;
  /*border: 1px #0065fc solid;*/
  padding: 16px;
  position: absolute;
  left: 22vw;
  top: -1px;
}
.fa-search {
  display: none;
}
#boutonrecherche {
  position: relative;
  margin-bottom: 2.5vw;
}

select {
  border: 2px #f2f2f2 solid;
  border-radius: 20px;
  padding: 12px 18px 12px 52px;
  font-family: "Raleway";
  font-size: 1em;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
}

select:hover {
  background-color: #f2f2f2;
}

.fa-dog,
.fa-money-bill-wave,
.fa-heart,
.fa-child {
  background-color: #deebff;
  color: #0065fc;
  border-radius: 25px;
  font-size: 1.1em;
  padding: 15px;
}

.input-icone {
  position: relative;
  margin: 30px 15px 15px 15px;
}

.input-icone i {
  position: absolute;
  left: -1px;
  top: -14px;
}

.fa-info {
  display: inline-block;
  color: #0065fc;
  font-size: 0.7em;
}

#cercle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px #f2f2f2 solid;
  text-align: center;
  line-height: 14px;
  margin: 10px;
}

h4 {
  font-size: 1em;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 110%;
  font-family: "Raleway";
}

#nombretrouve {
  margin-bottom: 1.8vw;
  margin-top: 2.5vw;
  display: flex;
  align-items: center;
}

/*zones résultats hotels*/

#hebergements {
  width: 98%;
  height: 44.7vw;
  display: flex;
  margin: 1vw 0;
  margin-left: 1vw;
  margin-bottom: 2vw;
}

#listehotels /*conteneur de h2 + div id=resultatshotels*/ {
  background-color: #f2f2f2;
  border-radius: 15px;
  flex: 55%;
  margin-right: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#listehotels a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 0.9em;
  display: flex;
  margin-left: 1vw;
}

#resultatshotels  /*conteneur des blocs class=hotel, resultats 1 par hotel, les mettre sur plusieurs lignes, et limiter à 3 lignes max avec retour scroll possible "afficher plus"*/ {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#resultatshotels a:hover {
  color: #0065fc;
}

.hotel /*articles de listehotels et de populaires*/ {
  display: flex;
  background-color: white;
  border-radius: 15px;
  box-shadow: 3px 3px 8px rgb(233, 231, 231);
  margin: 0.8vw 0.5vw;
}

.hotel p {
  font-size: 0.8em;
}
.fa-star {
  font-size: 0.8em;
  color: #f2f2f2;
}

.bleu {
  color: #0065fc;
}

.principal /*article ds resultatshotels*/ {
  flex-direction: column;
  align-items: center;
  width: 17vw;
  height: 15vw;
}

#resultatshotels .image {
  border-radius: 15px 15px 0px 0px;
  width: 96%;
  margin-top: 0.2vw;
  margin-bottom: 0.2vw;
  flex: 60%;
  background-position: center;
  background-size: cover;
}

#resultatshotels .legende {
  flex: 40%;
  width: 96%;
}

.legende p {
  font-size: 0.9em;
  font-weight: 400;
}

#aubergecanebiere {
  background-image: url("images/hebergements/aubergecanebiere.jpg");
}

#hotelport {
  background-image: url("images/hebergements/hotelduport.jpg");
}
#hotelmouettes {
  background-image: url("images/hebergements/hotelmouettes.jpg");
}

#hotelmer {
  background-image: url("images/hebergements/hoteldelamer.jpg");
}

#aubergepanier {
  background-image: url("images/hebergements/aubergepanier.jpg");
}

#chezamina {
  background-image: url("images/hebergements/chezamina.jpg");
}

#populaires {
  background-color: #f2f2f2;
  border-radius: 15px;
  margin-right: 1vw;
  flex: 25%;
}

.fa-chart-line {
  padding-right: 3vw;
}

#populaires header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
}

#resultatspopu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 0.5em;
}

#resultatspopu a {
  text-decoration: none;
  font-size: initial;
  font-weight: initial;
  color: black;
  display: flex;
}

#resultatspopu a:hover {
  color: #0065fc;
}

.populaire {
  width: 27vw;
  height: 11vw;
  display: flex;
  align-items: center;
}

.populaire .image {
  flex: 33%;
  width: 95%;
  height: 95%;
  border-radius: 15px 0px 0px 15px;
  margin-left: 0.3vw;
  background-position: center;
  background-size: cover;
}
#soleilmatin {
  background-image: url("images/hebergements/soleildumatin.jpg");
}

#bleuetblanc {
  background-image: url("images/hebergements/toutbleuetblanc.jpg");
}

#coeurdeleau {
  background-image: url("images/hebergements/aucoeurdeleau.jpg");
}

.texte {
  flex: 65%;
  width: 96%;
  height: 96%;
  padding: 0.5vw 0.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.texte p {
  line-height: 0.8em;
  font-size: 0.9em;
}

.texte a {
  text-decoration: none;
  font-size: initial;
  font-weight: initial;
}

/*---------------------------zone activités*/

#activites {
  width: 100%;
  height: 38vw;
}

#resultatsactiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.activ {
  background-color: white;
  border-radius: 15px;
  box-shadow: 3px 3px 8px rgb(233, 231, 231);
  width: 20vw;
  background-position: center;
  background-size: cover;
  position: relative;
}

.activ h4 {
  position: absolute;
  bottom: 0vw;
  border-radius: 0px 0px 15px 15px;
  padding-left: 1em;
  padding-top: 1.8vw;
  padding-bottom: 1.8vw;
  width: 100%;
  background-color: white;
}

.horiz {
  height: 14vw;
}

.vertic {
  height: 31vw;
}

.doublehoriz {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 31vw;
}

#vieuxport {
  background-image: url("images/activites/vieuxport.jpg");
}

#calanques {
  background-image: url("images/activites/calanques.jpg");
}

#pomegues {
  background-image: url("images/activites/pomegues.jpg");
}

#frioul {
  background-image: url("images/activites/frioul.jpg");
}

#notredame {
  background-image: url("images/activites/notredame.jpg");
}

#longchamp {
  background-image: url("images/activites/longchamp.jpg");
}

#resultatsactiv a {
  text-decoration: none;
  font-size: initial;
  font-weight: initial;
  color: black;
  border-radius: 15px;
}

#resultatsactiv a:hover {
  color: #0065fc;
}

/*-------pied de page--------------*/

footer {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: flex-start;
  padding: 1.5vw;
}

.blocpiedpage {
  display: flex;
  flex-direction: column;
  margin-right: 18vw;
  margin-left: 1vw;
}

.blocpiedpage ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 0.8em;
  text-align: left;
  padding-left: 0px;
  line-height: 1.6em;
}

h3 {
  font-size: 0.9em;
  margin-bottom: 0px;
  font-weight: 900;
}

/*-----MEDIA QUERIES----TABLETTE------------*/
@media all and (min-width: 768px) and (max-width: 1024px) {
  #boutontexte {
    width: 50vw;
  }
  #boutonbleu {
    left: 50vw;
  }

  .input-icone {
    margin-left: 2px;
    margin-right: 2px;
  }

  select {
    font-size: 0.9em;
    padding-right: 10px;
    padding-left: 51px;
  }

  select:hover {
    background-color: white;
  }
  #hebergements {
    flex-direction: column-reverse;
    height: auto;
  }

  #listehotels,
  #populaires {
    margin-bottom: 3vw;
  }
  #resultatspopu {
    flex-direction: row;
    height: 21vw;
  }

  #resultatshotels {
    height: 60vw;
  }

  .principal {
    width: 27vw;
    height: 24vw;
  }

  #populaires {
    margin-top: 2vw;
    margin-bottom: 4vw;
  }
  .populaire {
    height: 18vw;
    width: 27vw;
  }

  .texte p {
    font-size: 0.8em;
  }

  .populaire h4 {
    font-size: 0.9em;
  }

  #activites {
    height: 55vw;
  }
  #resultatsactiv {
    flex-wrap: wrap;
    justify-content: center;
  }
  .activ {
    width: 27vw;
    height: 19vw;
  }

  .activ h4 {
    font-size: 0.9em;
    padding-left: 5px;
  }

  .vertic {
    margin-right: 6vw;
    margin-bottom: 6vw;
  }

  .doublehoriz {
    flex-direction: row;
    width: 60vw;
    height: 19vw;
    margin-bottom: 6vw;
  }

  .blocpiedpage {
    margin-right: 10vw;
  }
}

/*-----MEDIA QUERIES----MOBILE------------*/
@media all and (max-width: 767px) {
  body {
    width: auto;
    height: auto;
    margin: auto;
  }
  #logomenu {
    flex-direction: column;
  }
  #logo {
    margin-top: 0px;
    margin-left: 10px;
  }

  #sinscrire {
    display: none;
  }

  #inscriptionmob {
    display: initial;
    color: #0065fc;
    font-weight: 900;
    margin-top: 8px;
    margin-right: 20px;
  }

  #entete {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  header nav {
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    justify-content: center;
  }

  header nav ul {
    padding: 0px;
  }

  header nav li {
    font-size: 1em;
    flex: 50%;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 2px #f2f2f2 solid;
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 10px;
    width: 50vw;
    text-align: center;
  }

  nav li:active {
    border-bottom: 2px #0065fc solid;
  }
  nav li:focus {
    border-bottom: 2px #0065fc solid;
  }
  nav a:hover {
    border-top: none;
    text-decoration: none;
  }
  nav a:active {
    border-top: none;
    text-decoration: none;
    color: #0065fc;
  }
  header p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
  }

  h1,
  h2 {
    margin-left: 15px;
  }

  header {
    width: 100%;
    margin: auto;
  }

  main {
    margin: auto;
    width: 100%;
  }

  #boutonbleu {
    display: none;
  }
  #boutonrecherche {
    margin-left: 10px;
    margin-bottom: 5px;
  }

  #boutontexte {
    width: 70vw;
    padding-left: 3em;
  }

  .fa-search {
    display: initial;
    background-color: #0065fc;
    color: white;
    border-radius: 10px;
    padding: 18.2px;
    position: absolute;
    left: 67vw;
  }

  button {
    border: 1px #0065fc solid;
  }

  #filtres p {
    margin-left: 10px;
  }

  .input-icone {
    margin: 8px;
  }

  .fa-heart,
  .fa-dog {
    margin-top: 14px;
  }

  select {
    background-color: white;
  }

  select:hover {
    background-color: white;
  }

  #titrefiltre,
  #listefiltres {
    display: block;
    display: flex;
    flex-direction: column;
  }

  #titrefiltre h3 {
    margin-left: 15px;
    line-height: 2.5em;
  }
  #cercle {
    display: block;
  }
  #nombretrouve {
    align-items: baseline;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  #cercle {
    width: 25px;
  }

  #hebergements {
    flex-direction: column;
    height: auto;
    width: 100%;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  #listehotels {
    order: 2;
    background-color: white;
    height: auto;
    max-height: none;
    width: 100%;
    margin-bottom: 6vw;
  }

  #resultatshotels {
    display: flex;
    flex-direction: column;
    flex: 95%;
    align-items: center;
  }

  #listehotels h2 {
    flex: 5%;
  }

  #listehotels p:last-child {
    margin-left: 10px;
    margin-top: 4px;
  }

  .principal {
    width: 90vw;
    height: 45vw;
    margin-bottom: 5vw;
  }
  .populaire {
    width: 90vw;
    height: 35vw;
    margin-bottom: 5vw;
  }

  #populaires {
    order: 1;
    border-radius: 0px;
    max-height: none;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 6vw;
  }

  #resultatspopu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .principal h4 {
    line-height: 1.2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 1.1em;
  }

  .legende p {
    padding-left: 0;
    line-height: 1em;
    margin: 2px;
  }

  .texte {
    margin-left: 0.3em;
  }

  #activites {
    margin-left: 0px;
    width: 100%;
    height: auto;
    margin-bottom: 6vw;
  }

  #resultatsactiv {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .activ {
    width: 90vw;
    height: 41vw;
    margin-bottom: 5vw;
  }
  .activ h4 {
    padding-top: 2vw;
    padding-bottom: 2vw;
  }

  .doublehoriz {
    height: 90vw;
  }

  footer {
    flex-direction: column;
    width: 100%;
  }

  .blocpiedpage {
    margin-right: 0px;
  }
}
